/*
  클래스별 의미
  .pf-list > 포트폴리오 하나 당 리스트 한 개
  -------------
  .pf-view > 목업/컬러 등 시각적 요소
  .pf-img > 디바이스 이미지를 한번에 묶은 클래스
  .pf-img-device > 디바이스 이미지 1개를 뜻하는 클래스
    - 디바이스 클래스와 함께 어떤 디바이스인지를 나타내는 클래스를 함께 써준다.
    - ex. pf-pc / pf-tablet / pf-mo
  .pf-mockup > 캡쳐이미지를 넣을 목업 이미지
  .pf-frame > 캡쳐이미지를 넣을 프레임
  .pf-work-img > 포트폴리오 캡쳐 이미지
  ------------
  .pf-info > 포트폴리오의 정보를 넣은 곳
  table > 포트폴리오 정보를 넣은 테이블
  p > 작업시 유의사항, 작업을 하게 된 계기 등 코멘트를 넣은 곳
  ul > 가이드 및 기획서 등 컨텐츠를 넣은 곳

  ------------------------------------------------
  ** 해당 클래스는 클래스가 pf-img인 div와 함께한다.
  ** 클래스명 규칙 > .pf-(디바이스갯수)-(들어간 디바이스 종류)
  - 3개 모두 들어간 div에는 종류가 들어가지않는다.

  ** 목업이미지 > .pf-mockup
  ** 프레임이미지 > .pf-frame
  ** 포폴캡쳐이미지 > .pf-work-img

  ** 경우의수
  ========================
  1. 3개 모두 > .pf-3
  -------------------------
  2. pc/tablet > .pf-2-pcta
  3. pc/mo > .pf-2-pcmo
     - pc를 포함해서 2가지 일경우 3개일 때와 위치/크기가 같아
       따로 스타일을 주지 않음
  4. tablet/mo > .pf-2-tamo
  -------------------------
  5. pc > .pf-1-pc
  6. tablet > .pf-1-tablet
  7. mo > .pf-1-mo
  ========================
*/


/* article - portfolio */
.portfolio{margin: 100px 0px;}
.portfolio .wrapper{width: 1024px;}
.pf-list{height: 550px; margin: 50px auto 150px; position: relative;}
.pf-list .pf-view, .pf-list .pf-info{position: relative; width: 50%; height: 100%;}
/* pf-list 좌우 float */
.pf-list-left .pf-view{float: left;}
.pf-list-left .pf-info{float: right;}
.pf-list-right .pf-view{float: right;}
.pf-list-right .pf-info{float: left;}
/* 컬러부분 */
.pf-color{
  width: 90%; position: absolute;
  bottom: 0; left: 50%; transform: translateX(-50%);
}
.pf-color li{
  width: 30%; height: 50%; float: left; margin-right: 5%;
  background: #ccc; border-radius: 15px; text-align: center; line-height: 30px;
}
.pf-color li:last-child{margin-right: 0;}
/* 정보부분 */
.pf-info{padding: 0 30px; box-sizing: border-box;}
.pf-info table{width: 100%; height: 40%;}
.pf-info table b{color: #45ada8; font-weight: normal;}
.pf-info table tr{width: 100%; height: 20%; text-align: left;}
.pf-info table tr th.pf-info-tit{color: #333; font-size: 20px; font-weight: 700;}
.pf-info table tr th.pf-info-tit b{color: #45ada8; font-weight: 700;}
.pf-info table tr th{width: 15%; color: #45ada8;}
.pf-info table tr td{width: 75%;}
.pf-info p{
  width: 100%; height: 30%; margin-top: 3%;
  line-height: 25px; font-size: 15px;
}
.pf-info ul{position: absolute; bottom: 0; width: 90%; height: 40px;}
.pf-info ul li{
  width: 25%; height: 100%; float: left;
  text-align: center; line-height: 40px;
}
.pf-info ul li:nth-child(odd){background-color: #333;}
.pf-info ul li:nth-child(even){background-color: #45ada8;}
.pf-info ul li a{
  display: inline-block; width: 100%; height: 100%;
  color: #fff; font-size: 14px;
}

/* portfolio pop-up / pf-pop */
.pf-pop{
  display: none; width: 100%; height: 100vh;
  position: fixed; top: 0; left: 0; z-index: 999;
}
.pf-pop-contents{
  width: 80%; height: 85vh; background-color: #fff;
  padding: 60px 150px; box-sizing: border-box;
  position: relative; top: 50%; left: 50%;
  transform: translate(-50%, -50%); z-index: 998;
}
.pf-pop-contents .close{
  display: inline-block; width: 35px; height: 35px;
  position: absolute; top: 0; right: 0;
  margin: 5px; padding: 0;
  background: none; border: none;
}
.pf-pop-contents .close span{
  display: inline-block; width: 35px; height: 2px;
  background-color: #333; transform-origin: 6px;
}
.pf-pop-contents .close span:nth-child(1){transform: rotate(45deg);}
.pf-pop-contents .close span:nth-child(2){transform: rotate(-45deg);}
.pf-pop .background{background-color: #000; opacity: 0.8;}
.pf-pop-plan{width: 100%; height: 100%; overflow-y: scroll;}
.pf-pop-plan img{width: 100%;}

/* .pf-img */
.pf-img{position: relative; height: 80%;}
.pf-pc{width: 100%; position: absolute; bottom: 0;}
.pf-tablet{width: 50%; position: absolute; right: -10px; bottom: -10px;}
.pf-mo{width: 25%; position: absolute; right: -10px; bottom: 0;}
.pf-img-work{overflow: hidden; position: absolute;}
.pf-pc .pf-img-work{top: 6.4%; left: 4%; right: 4%;}
.pf-tablet .pf-img-work{top: 10%; left: 8%; right: 8%;}
.pf-mo .pf-img-work{top: 13%; left: 12%; right: 12%;}
.pf-mockup{width: 100%;}
.pf-frame{width: 100%;}
.pf-work-img{position: absolute; top: 0; width: 100%;}

/* .pf-img 경우의 수  */
.pf-2-tamo .pf-tablet{width: 70%; right: 55%; bottom: -60px; transform: translateX(50%);}
.pf-2-tamo .pf-mo{width: 35%; right: 30px; bottom: -55px;}
.pf-1-tablet .pf-tablet{width: 70%; right: 50%; top: 0; transform: translateX(50%);}
.pf-1-mo .pf-mo{width: 45%; right: 50%; transform: translateX(50%);}

/* 큐브엔터테인먼트 */
.cube .pf-color li:nth-child(1){background-color: #f1f1f1;}
.cube .pf-color li:nth-child(2){background-color: #141414; color: #fff;}
.cube .pf-color li:nth-child(3){background-color: #03519f; color: #fff;}

/* ------ 태블릿 ------ */
@media (max-width: 1024px) {
  /* article - portfolio */
  .portfolio .wrapper{width: auto; margin: 100px 30px; padding-top: 100px;}
  .pf-list{height: 500px;}
  /* 정보부분 */
  .pf-info{padding: 0 15px;}
  .pf-info table{height: 30%;}
  .pf-info p{font-size: 14px;}
  .pf-info ul{height: auto;}
  .pf-info ul li{float: none; width: auto;}
  /* portfolio pop-up / pf-pop */
  .pf-pop-contents{width: 95%; height: 97vh; padding: 20px;}
  .pf-pop-contents .close{width: 20px; height: 20px;}
  .pf-pop-contents .close span{width: 20px; transform-origin: -1px; margin: 0 0 10px 3px;}
}


/* ------ 모바일 ------ */
@media (max-width: 767px) {
  .portfolio .wrapper{padding: 100px 20px; box-sizing: border-box; margin: auto;}
  /* article - portfolio */
  .pf-list{width: 100%; height: auto; margin: 0px auto 100px;}
  .pf-list .pf-view{width: 100%; height: auto; margin-bottom: 50px;}
  .pf-list .pf-info{width: 100%; height: auto; padding: 30px 0 0 0;}
  /* pf-list 좌우 float */
  .pf-list-left .pf-view,
  .pf-list-left .pf-info,
  .pf-list-right .pf-view,
  .pf-list-right .pf-info{float: none;}
  /* 컬러부분 */
  .pf-color{position: relative; height: auto; margin-top: 15px;}
  .pf-color li{font-size: 12px;}
  /* 정보부분 */
  .pf-info table{height: 150px; font-size: 13px;}
  .pf-info table tr{height: 10%;}
  .pf-info table tr th{width: 25%;}
  .pf-info table tr th.pf-info-tit{font-size: 16px; font-weight: 700;}
  .pf-info p{font-size: 13px; height: auto; margin-bottom: 30px;}
  .pf-info ul{position: relative; width: 100%; top: 0;}
  .pf-info ul li{width: 100%;}
  .pf-info ul li a{font-size: 13px;}
  /* view */
  .pf-img{height: auto;}
  .pf-pc{width: 65%; left: 50%; transform: translateX(-50%);}
  .pf-tablet{position: relative; width: 32.5%; right: auto; left: 51%;}
  .pf-mo {width: 16.25%; left: 67%;}
  .pf-2-pcmo .pf-pc{position: relative;}
  .pf-2-tamo .pf-tablet{
    position: relative;
    right: auto; left: 50%; bottom: -10px;
    transform: translateX(-50%);
  }
  .pf-2-tamo .pf-mo{bottom: 0; left: 50%;}
  .pf-1-pc .pf-pc{position: relative;}
  .pf-1-tablet .pf-tablet{position: relative; left: 50%; transform: translateX(-50%);}
  .pf-1-tablet .pf-tablet .pf-img-work{top: 10%;}
  .pf-1-mo .pf-mo{position: relative; left: 50%; transform: translateX(-50%);}
}
