/* article - portfolio */
.portfolio .wrapper{width: 1024px;}
.pf-list{height: 550px; margin: 50px auto 150px; position: relative;}
.pf-list .pf-view, .pf-list .pf-info{position: relative; width: 50%; height: 100%;}
/* pf-list 좌우 float */
.pf-list-left .pf-view{float: left;}
.pf-list-left .pf-info{float: right;}
.pf-list-right .pf-view{float: right;}
.pf-list-right .pf-info{float: left;}
/* 컬러부분 */
.pf-color{
  width: 90%; position: absolute;
  bottom: 0; left: 50%; transform: translateX(-50%);
}
.pf-color li{
  width: 30%; height: 50%; float: left; margin-right: 5%;
  background: #ccc; border-radius: 15px; text-align: center; line-height: 30px;
}
.pf-color li:last-child{margin-right: 0;}
/* 정보부분 */
.pf-info{padding: 0 30px; box-sizing: border-box;}
.pf-info table{width: 100%; height: 40%;}
.pf-info table tr{width: 100%; height: 20%; text-align: left;}
.pf-info table tr th.pf-info-tit{font-size: 20px; font-weight: 800;}
.pf-info table tr th{width: 15%; color: #45ada8;}
.pf-info table tr td{width: 75%;}
.pf-info p{width: 100%; height: 30%; margin-top: 3%; line-height: 25px; font-size: 15px;}
.pf-info ul{position: absolute; bottom: 0; width: 90%; height: 40px;}
.pf-info ul li{width: 25%; height: 100%; float: left; text-align: center; line-height: 40px;}
.pf-info ul li:nth-child(odd){background-color: #333;}
.pf-info ul li:nth-child(even){background-color: #45ada8;}
.pf-info ul li a{display: inline-block; width: 100%; height: 100%; color: #fff; font-size: 15px;}

/* portfolio pop-up / pf-pop */
.pf-pop{
  display: none; width: 100%; height: 100vh;
  position: fixed; top: 0; left: 0; z-index: 999;
}
.pf-pop-contents{
  width: 80%; height: 85vh; padding: 50px; box-sizing: border-box;
  background-color: #fff;
  position: relative; top: 50%; left: 50%;
  transform: translate(-50%, -50%); z-index: 998;
}
.pf-pop-contents .close{
  display: inline-block; width: 35px; height: 35px;
  position: absolute; top: 0; right: 0;
  margin: 5px; padding: 0;
  background: none; border: none;
}
.pf-pop-contents .close span{
  display: inline-block; width: 35px; height: 2px;
  background-color: #333; transform-origin: 6px;
}
.pf-pop-contents .close span:nth-child(1){transform: rotate(45deg);}
.pf-pop-contents .close span:nth-child(2){transform: rotate(-45deg);}
.pf-pop .background{background-color: #000; opacity: 0.8;}
.pf-pop-plan{width: 100%; height: 100%; overflow-y: scroll;}


@media (max-width: 1024px) {
  .portfolio .wrapper{width: auto; margin-top: 70px;}
  .pf-img{height: 60%; top: 10%;}
  .pf-info{padding: 0 10px;}
  .pf-info table{height: 30%;}
  .pf-info p{font-size: 14px;}
  .pf-info ul{height: auto;}
  .pf-info ul li{float: none; width: auto;}

  /* portfolio pop-up / pf-pop */
  .pf-pop-contents{width: 95%; height: 97vh; padding: 20px;}
  .pf-pop-contents .close{width: 20px; height: 20px;}
  .pf-pop-contents .close span{width: 20px; transform-origin: -1px; margin: 0 0 10px 3px;}
}
@media (max-width: 767px) {
  .pf-list-left .pf-view,
  .pf-list-left .pf-info,
  .pf-list-right .pf-view,
  .pf-list-right .pf-info{float: none;}
  .pf-list{width: 100%; height: 1000px; margin: 0px auto 100px;}
  .pf-list .pf-view{width: 100%; height: 40%; margin-bottom: 50px;}
  .pf-list .pf-info{width: 100%; height: 60%; padding: 0 20px}
  .pf-color{height: auto;}
  .pf-img{height: 100%;}
  .pf-info table{width: auto; font-size: 13px;}
  .pf-info table tr{height: 10%;}
  .pf-info table tr th{width: 25%;}
  .pf-info table tr th.pf-info-tit{font-size: 16px; font-weight: 700;}
  .pf-info p{font-size: 13px; height: auto; margin-bottom: 30px;}
  .pf-info ul{position: relative; width: 100%; top: 0;}
  .pf-info ul li{width: 100%;}
  .pf-info ul li a{font-size: 13px;}
}





/*
  ** 해당 클래스는 클래스가 pf-img인 div와 함께한다.
  ** 클래스명 규칙
  .pf-img-(이미지갯수)-(들어간 디바이스 종류) img.pf-(디바이스종류)

  ex) .pf-img-3 img.pf-pc
  디바이스가 3개인 list의 pc이미지

  ex) .pf-img-2-pcta img.pf-tablet
  디바이스가 pc/태블릿 2개인 list의 tablet 이미지


  ** 경우의수
  ========================
  1. 3개 모두
  .pf-img-3 img.pf-pc
  .pf-img-3 img.pf-tablet
  .pf-img-3 img.pf-mo
  -------------------------
  2. pc/tablet
  .pf-img-2-pcta img.pf-pc
  .pf-img-2-pcta img.pf-tablet
  -------------------------
  3. pc/mo
  .pf-img-2-pcmo img.pf-pc
  .pf-img-2-pcmo img.pf-mo
  -------------------------
  4. tablet/mo
  .pf-img-2-tamo img.pf-tablet
  .pf-img-2-tamo img.pf-mo
  -------------------------
  5. pc
  .pf-img-1 img.pf-pc
  -------------------------
  6. tablet
  .pf-img-1 img.pf-tablet
  -------------------------
  7. mo
  .pf-img-1 img.pf-mo
  ========================
*/

.pf-img{position: relative; height: 90%;}
.pf-img-device{
  outline: 1px solid red;
  width: 100%; height: 100%; position: absolute;
}
.pf-pc{background: url(../img/mockup/desktop.png);}
.pf-tablet{
  width: 50%; height: 80%;
  right: 0; bottom: 0; background-position: 10px center;
  background: url(../img/mockup/tablet.png);
}
.pf-mo{
  width: 25%; height: 58%;
  right: 0; bottom: 0; background-position: 10px center;
  background: url(../img/mockup/mobile.png);
}
.pf-pc, .pf-tablet, .pf-mo{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 디바이스 영역 - 목업이미지 크기와 위치조절 */

/* 2개 --- 태블릿과 모바일 */
.pf-img-2-tamo .pf-tablet{
  width: 70%; height: 100%; left: 0;
  background-position: 0px center;
}
.pf-img-2-tamo .pf-mo{
  width: 35%; height: 70%; right: 30px;
  background-position: 0px center;
}

/* 1개 */
.pf-img-1 .pf-tablet,
.pf-img-1 .pf-mo{
  width: 100%; height: 100%; background-position: center;
}


@media (max-width: 1024px){
  .pf-tablet{width: 235px; background-position: center bottom;}
  .pf-mo{width: 125px; background-position: center bottom;}
  .pf-pc{}
}
@media (max-width: 767px){

}







/* work 영역 - 목업이미지 크기와 위치에 따른 work 영역 조절 */
.pf-img-work{background: skyblue; overflow: hidden; position: relative;}
.pf-pc .pf-img-work{ /* pc work는 모두 공통 */
  width: 92%; height: 54%;
  top: 12%; left: 50%; transform: translateX(-50%);
}

/* pc와 함께 노출할 경우 목업이 3개던 2개던 모두 크기,위치가 같음 */
.pf-img-3 .pf-tablet .pf-img-work,
.pf-img-2-pcta .pf-tablet .pf-img-work{
  width: 85%; height: 73%;
  top: 50%; left: 8%; transform: translateY(-50%);
}
.pf-img-3 .pf-mo .pf-img-work,
.pf-img-2-pcmo .pf-mo .pf-img-work{
  width: 78%; height: 61%;
  top: 50%; left: 11%; transform: translateY(-50%);
}

/* 2개 --- 태블릿과 모바일 */
.pf-img-2-tamo .pf-tablet .pf-img-work{
  width: 83%; height: 80.5%; top: 50%; left: 49%;
  transform: translate(-50%,-50%);
}
.pf-img-2-tamo .pf-mo .pf-img-work{
  width: 78%; height: 70.5%;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
}

/* 1개 */
.pf-img-1 .pf-tablet .pf-img-work{
  width: 59%; height: 80.5%;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
}
.pf-img-1 .pf-mo .pf-img-work{
  width: 41%; height: 75%;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
}



@media (max-width: 1024px){

}
@media (max-width: 767px){

}

















/* 실제 화면을 넣는 work img */
.pf-img-work img{width: 100%; position: absolute;}















 /* 3개 모두 */
.pf-img-3 img.pf-pc{width: 80%;}
/* .pf-img-3 img.pf-pc + .pf-pc-img{width: 80%; left: 40%;} */
.pf-img-3 img.pf-tablet{width: 40%; left: 70%; margin-top: 7.5%;}
.pf-img-3 img.pf-mo{width: 20%; left: 85%; margin-top: 16%;}
/* pc/tablet */
.pf-img-2-pcta img.pf-pc{width: 80%; left: 40%;}
.pf-img-2-pcta img.pf-tablet{width: 40%; left: 75%; margin-top: 7.5%;}
/* pc/mo */
.pf-img-2-pcmo img.pf-pc{width: 80%; left: 45%;}
.pf-img-2-pcmo img.pf-mo{width: 20%; left: 80%; margin-top: 16%;}
/* tablet/mo */
.pf-img-2-tamo img.pf-tablet{width: 60%; left: 45%; margin-top: -8%;}
.pf-img-2-tamo img.pf-mo{width: 30%; left: 75%; margin-top: 4.5%;}
/* pc */
.pf-img-1 img.pf-pc{width: 80%; left: 50%;}
/* tablet */
.pf-img-1 img.pf-tablet{width: 60%; left: 50%; margin-top: -8%;}
/* mo */
.pf-img-1 img.pf-mo{width: 40%; left: 50%; margin-top: -2%;}


/* ============ 태블릿 ============ */
@media (max-width: 1024px) {
  /* 3개 모두 */
  .pf-img-3 img.pf-pc{width: 90%; left: 50%;}
  .pf-img-3 img.pf-tablet{width: 45%; left: 74.5%; margin-top: 8.5%;}
  .pf-img-3 img.pf-mo{width: 22.5%; left: 86.5%; margin-top: 18%;}
  /* pc/tablet */
  .pf-img-2-pcta img.pf-pc{width: 90%; left: 50%;}
  .pf-img-2-pcta img.pf-tablet{width: 45%; left: 74.5%; margin-top: 8.5%;}
  /* pc/mo */
  .pf-img-2-pcmo img.pf-pc{width: 90%; left: 50%;}
  .pf-img-2-pcmo img.pf-mo{width: 22.5%; left: 86.5%; margin-top: 18%;}
  /* tablet/mo */
  .pf-img-2-tamo img.pf-tablet{width: 60%; left: 45%; margin-top: 0;}
  .pf-img-2-tamo img.pf-mo{width: 30%; left: 75%; margin-top: 12.5%;}
  /* pc */
  .pf-img-1 img.pf-pc{width: 90%; left: 50%;}
  /* tablet */
  .pf-img-1 img.pf-tablet{width: 60%; left: 50%; margin-top: 0;}
  /* mo */
  .pf-img-1 img.pf-mo{width: 45%; left: 50%; margin-top: 0;}
}

/* ============ 모바일 ============ */
@media (max-width: 767px) {
  /* 3개 모두 */
  .pf-img-3 img.pf-pc{width: 66%; left: 45%;}
  .pf-img-3 img.pf-tablet{width: 33%; left: 72%; margin-top: 6%;}
  .pf-img-3 img.pf-mo{width: 16.5%; left: 85%; margin-top: 13%;}
  /* pc/tablet */
  .pf-img-2-pcta img.pf-pc{width: 66%; left: 45%;}
  .pf-img-2-pcta img.pf-tablet{width: 33%; left: 72%; margin-top: 6%;}
  /* pc/mo */
  .pf-img-2-pcmo img.pf-pc{width: 66%; left: 45%;}
  .pf-img-2-pcmo img.pf-mo{width: 16.5%; left: 75%; margin-top: 13%;}
  /* tablet/mo */
  .pf-img-2-tamo img.pf-tablet{width: 55%; left: 45%; margin-top: 0;}
  .pf-img-2-tamo img.pf-mo{width: 27.5%; left: 75%; margin-top: 11.5%;}
  /* pc */
  .pf-img-1 img.pf-pc{width: 70%; left: 50%;}
  /* tablet */
  .pf-img-1 img.pf-tablet{width: 55%; left: 50%; margin-top: 0;}
  /* mo */
  .pf-img-1 img.pf-mo{width: 40%; left: 50%; margin-top: 0;}
}
