/* ----- 기본 ----- */
*{ margin: 0; padding: 0; }
body{ font-family: 'Nanum Gothic', sans-serif; overflow: hidden; }
/* overflow-x: hidden; */
a{ text-decoration: none; color: #000; }
li{ list-style: none; }

/* ----- 본문 ----- */

/*
==================================================z-index
header - 95
nav - 98
section1 - 1
sec1 pop - 99

section2 - 2
sec2_nutri_center 12
sec2_nutri_left 13
sec2_nutri_right 14

section3 - 3


footer - 97
*/


/* ======================= header ======================= */
/* ======================= 왼쪽 상단 메뉴 ======================= */
header{
    outline: 0px solid red;
    width: 383px;
    height: 30px;
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 95;
}
/* ======= header 왼쪽 ======= */
/* ======= #head_menu ======= */
header #head_menu{
    width: 260px;
    height: 30px;
    background-color: rgba(0,0,0,0.3);
    float: left;
}
header #head_menu li{
    height: 30px;
    padding: 0px 15px;
    float: left;
    text-align: center;
    line-height: 30px;
}
header #head_menu li a{
    color: #fff;
    font-size: 12px;
}
header #head_menu li:nth-child(1)::after,
header #head_menu li:nth-child(2)::after{
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background: #fff;
    margin-top: 7.5px;
    margin-left: 15px;
}
/* ======= header 오른쪽 ======= */
/* ======= #head_sns ======= */
header #head_sns{
    outline: 0px solid red;
    width: 80px;
    height: 30px;
    float: left;
    margin-left: 40px;
}
header #head_sns li{
    outline: 0px solid green;
    height: 30px;
    float: left;
}
header #head_sns li:last-child{
    margin-left: 10px;
}

/* ======================= nav ======================= */
/* ======================= 가운데 메뉴 ======================= */
nav{
    outline: 0px solid red;
    width: 110px;
    height: 740px;
    position: fixed;
    top: 95px;
    left: 37.1%;
    z-index: 98;
}
nav ul{
    width: 100%;
    height: 100%;
}
nav ul li{
    width: 110px;
    cursor: pointer;
}
#nav_animate{
    width: 56px;
    height: 47px;
    position: absolute;
    top: 100px;
    left: 100px;
}
/* ======================= section1 / #sec1_main ======================= */
/* ======================= 버거킹 로고 메뉴 ======================= */
#sec1_main{
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000;
}
/* ======== 메인 왼쪽 / #sec1_left ========*/
#sec1_left{
    width: 40%;
    height: 1080px;
    float: left;
/*    overflow: hidden;*/
}
#sec1_left_wrap{
    outline: 0px solid red;
    width: 3840px;
    height: 1080px;
}
#sec1_left_wrap div{
    width: 768px;
    height: 1080px;
    float: left;
}


#sec1_left_1{ background: red;}
#sec1_left_2{ background: orange;}
#sec1_left_3{ background: yellow;}
#sec1_left_4{ background: green;}
#sec1_left_5{ background: blue;}
#sec1_left_1, #sec1_left_2, #sec1_left_3, #sec1_left_4, #sec1_left_5{
    font-size: 50px; line-height: 1200px; text-align: center;
}


/* ======== 메인 왼쪽 숫자버튼 /  #sec1_left_num ========*/
#sec1_left_num{
    outline: 0px solid red;
    width: 200px;
    height: 20px;
    position: absolute;
    top: 60%;
    left: 15.5%;
}
#sec1_left_num li{
    width: 20px;
    height: 20px;
    float: left;
    background: #000;
    border-radius: 100%;
    margin-left: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
#sec1_left_num li a{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
#sec1_left_num li a.num_off{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
.num_on{
    width: 5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 0%;
    background: none;
    transform: rotate(45deg);
}
/* ======== 메인 왼쪽 서브 메뉴 / #sec1_left_sub ========*/
#sec1_left_sub{
    outline: 0px solid red;
    width: 420px;
    height: 160px;
    position: absolute;
    top: 65%;
    left: 10%;
}
#sec1_left_sub li{
    outline: 0px solid blue;
    width: 130px;
    height: 70px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#sec1_left_sub li a{
    display: inline-block;
    width: 130px;
    height: 70px;
}
.sec1_left_sub_pop{
    outline: 0px solid red;
    width: 500px;
    height: 650px;
    position: absolute;
    top: 100px;
    left: 130px;
    z-index: 99;
}
.sec1_left_sub_pop p{
    width: 100%;
    height: 30px;
    background: #fff;
    margin-top: -5px;
    padding-right: 15px;
    box-sizing: border-box;
    text-align: right;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}
/* ======== 메인 오른쪽 / #sec1_right ========*/

#sec1_right{
    width: 60%;
    height: 100%;
    float: left;
    background: #000;
    overflow: hidden;
}
#sec1_right_wrap{
    width: 6000px;
    height: 1080px;
}
#sec1_right_wrap div{
    width: 1200px;
    height: 1080px;
    float: left;
}


/* ======================= section2 / #sec2_menu ======================= */
/* ======================= menu 메뉴 ======================= */

#sec2_menu{
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000;
}

/* ======== sec2 왼쪽 /  #sec2_left ========*/
#sec2_left{
    width: 40%;
    height: 1080px;
    background: #B32011;
    float: left;
}
#sec2_left div{
    outline: 0px solid #fff;
    width: 300px;
    margin-bottom: 10px;
    position: relative;
    top: 100px;
    left: 200px;
    overflow: hidden;
    cursor: pointer;
}
/* ========= sec2 왼쪽에 큰 메뉴 ========= */
.sec2_left_m{
    height: 70px;
    margin-bottom: 10px;
}
#sec2_left_1{
    height: 87px;
}
/* ========= sec2 왼쪽에 작은 메뉴 ========= */
.sec2_left_s{
    height: 20px;
}
/* ========= sec2 왼쪽 마지막 영양/알레르기 성분 부분 ========= */
#sec2_left_14{
    outline: 1px solid #fff;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
#sec2_left_14_pop{
    outline: 0px solid #fff;
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 1000px;
    z-index: 10;
}
#sec2_left_14_pop p:first-child{
    outline: 0px solid #fff;
    width: 600px;
    height: 770px;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
#sec2_left_14_pop p:first-child img{
    width: 100%;
}
#sec2_left_14_pop p:last-child{
    outline: 1px solid #fff;
    width: 600px;
    height: 30px;
    background: #fff;
    position: fixed;
    padding-right: 15px;
    box-sizing: border-box;
    text-align: right;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

/* ======== sec2 오른쪽 /  #sec2_right ========*/
#sec2_right{
    width: 60%;
    height: 1080px;
    background: rgb(146, 21, 15);
    float: left;
}

/*---- 오른쪽 큰 메뉴 class css ----*/
.sec2_right_wrap{
    outline: 0px solid #fff;
    width: 600px;
    height: 750px;
    position: relative;
    top: 60px;
    left: 300px;
    padding: 20px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sec2_right_tit{
    height: 46px;
    margin-bottom: 10px;
}
/*---- 오른쪽 서브 메뉴 class css ----*/
.sec2_right_wrap_sub{
    outline: 0px solid #fff;
    width: 600px;
    height: 750px;
    position: relative;
    top: 60px;
    left: 300px;
    padding: 20px 10px;
}
.sec2_right_sub{
    outline: 0px solid blue;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
}
.sec2_pro_tit_eng{
    outline: 0px solid #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.sec2_pro_tit_ko{
    outline: 0px solid #fff;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}
.sec2_pro_form{
    outline: 0px solid #fff;
    width: 100%;
    height: 30px;
    padding-top: 8px;
    box-sizing: border-box;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}
.sec2_pro_price{
    outline: 0px soild #fff;
    width: 100%;
    height: 60px;
    padding-top: 8px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
}
.sec2_pro_price strong{
    font-size: 30px;
    font-weight: 900;
}
.sec2_pro_nutrition{
    outline: 0px solid #fff;
    width: 80px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-indent: 23px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.sec2_pro_nutrition .sec2_nutri_center{
    outline: 0px solid #fff;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 188px;
    left: 0px;
    z-index: 12;
}
.sec2_pro_nutrition .sec2_nutri_left{
    outline: 0px solid yellow;
    width: 2px;
    height: 10px;
    background: rgb(146, 21, 15);
    position: absolute;
    top: 191px;
    left: 6.5px;
    z-index: 13;
}
.sec2_pro_nutrition .sec2_nutri_right{
    outline: 0px solid #fff;
    width: 2px;
    height: 10px;
    background: rgb(146, 21, 15);
    position: absolute;
    top: 191px;
    left: 6.5px;
    z-index: 14;
    transform: rotate(90deg);
}
.sec2_right_wrap_sub table{
    outline: 0px solid #fff;
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #fff;
}
.sec2_right_wrap_sub table td{
    outline: 1px solid #fff;
}
.sec2_pro_img{
    outline: 0px solid yellow;
    width: 100%;
    height: 380px;
    position: relative;
    top: 30%;
}
.sec2_pro_img img{
    outline: 0px solid #fff;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.sec2_right_special_roll{
    outline: 0px solid blue;
    width: 100%;
    height: 145px;
    position: relative;
    top: 31%;
    left: 0;
}
.sec2_special_roll_l{
    outline: 0px solid green;
    width: 30px;
    height: 145px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    z-index: 16;
    cursor: pointer;
}
.sec2_special_roll_r{
    outline: 0px solid green;
    width: 30px;
    height: 145px;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    z-index: 17;
    cursor: pointer;
}
.sec2_special_roll_l img,
.sec2_special_roll_r img{
    margin-top: 130%;
}
.sec2_sub_thumb{
    outline: 0px solid #fff;
    width: 540px;
    height: 145px;
    float: left;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 15;
    overflow: hidden;
}
.sec2_sub_thumb_wrap{
    outline: 1px solid yellow;
    width: 1200px;
    height: 145px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
/*    left: -135px;*/
    z-index: 15;
}
.sec2_sub_thumb div{
    outline: 0px solid red;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

/* ------- #sec2_right_bk_special ------- */
#sec2_right_bk_special div{
    width: 100%;
    height: 50px;
}
#sec2_right_bk_special ul{
    width: 100%;
}
#sec2_right_bk_special ul li{
    width: 122px;
    height: 145px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#sec2_right_special{ height: 660px; }
#sec2_right_double{ height: 330px; }
#sec2_right_snack{ height: 500px; }


/* ======================= section3 / #sec3_store ======================= */
/* ======================= store 메뉴 ======================= */

#sec3_store{
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
/*    background: #000;*/
}

#sec3_left{
    width: 40%;
    height: 1080px;
    background-color: #8BB400;
    float: left;
}
#sec3_right{
    width: 60%;
    height: 1080px;
    float: left;
}





























/* ======================= footer ======================= */
/* ======================= 푸터 영역 ======================= */
footer{
    width: 100%;
    height: 65px;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 97;
}
#footer_left{
    width: 40%;
    height: 65px;
    float: left;
}
#footer_left ul{
    width: 42.5%;
    height: 100%;
    margin: 0 auto;
}
#footer_left ul li{
    padding: 0px 10px;
    box-sizing: border-box;
    height: 65px;
    float: left;
    text-align: center;
    line-height: 65px;    
    color: #fff;
    font-size: 13px;
}
#footer_left ul li::after{
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background: #fff;
    margin-top: 25px;
    margin-left: 10px;
}
#footer_left ul li:last-child::after{
    content: none;
}
#footer_right{
    width: 60%;
    height: 65px;
    float: left;
    padding-top: 5px;
    box-sizing: border-box;
}
#footer_right span{
    display: inline-block;
    width: 100%;
    height: 13px;
    text-align: center;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
}





















































































































































